<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-body">

<div class="login-card">
    <h1>🔐 Админ-панель</h1>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form method="post" action="/login">
        <input type="text" name="username" placeholder="Логин" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Войти</button>
    </form>
</div>

</body>
</html>
